*{
    margin: 0px;
    padding: 0px;
}

.content{
   background-color: rgb(217, 200, 200);
}

nav{
    padding: 20px;

    color: white;
    background-color: black;
}

h1, ul, li{
    display: inline;
}

ul{
  margin-left: 65%;
}

li{
    color: rgb(217, 200, 200);
    padding-right: 5px;
}

li:hover{
    cursor: pointer;

    color: white;
}

.searchbar{
    padding: 30px;

    text-align: center;
}

input{
    border-radius: 10px;

    padding: 10px;

    width: 60%;
}

input:focus{
    outline: none;
}

.top-selling{
    text-align: center;
    padding: 10px;
}

.products{
   display: flex;
   justify-content: space-evenly;
}

.box{
    display: inline-block;

    margin: 10px;
    
    border-style: solid;
    border-width: 2px;
    border-color: black;

    border-radius: 10px;

    padding: 10px;

    width: 300px;

    text-align: center;

    background-color: white;
}

.box:hover{
    cursor: pointer;

    background-color: rgb(204, 201, 201);
    color: black;
}

.box img{
    height: 300px;
    width: 300px;

    border-radius: 10px;
}

.box h3{
    margin-top: 10px;
    margin-bottom: 5px;

    color:rgb(166, 86, 86);
}

.about{
    padding: 10px;

    text-align: center;
}

.p{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 17px;
}

.contact{
    padding: 10px;

    text-align: center;
    
    background-color: black;
    color: white;
}

.footer{
    padding-top: 5px;
}

body{
    font-family: "Ibarra Real Nova", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 690px){

    nav{
        padding: 20px;
    }

    h1, ul{
        display: block;
    }

    ul{
        margin-left: 0%;

        padding-top: 20px;

        text-align: center;
      }

    li{
        padding-right: 3px;
    }

    input{
        width: 90%;
    }

    .products{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .box{
        flex-basis: 80%;
        height: 80%;
        width: 90%;
    }

    .box img{
        height: 75%;
        width: 100%;
    }

    #first{
        padding-top: 10px;
    }

    .about{
        font-size: 13px;
    }

    .p{
        padding-top: 5px;
        padding-bottom: 0px ;
        padding-left: 0px;
        padding-right: 0px;
    }

    .contact{
        font-size: 14px;
    }

}

@media (min-width: 691px) and (max-width: 765px){

    nav{
        padding: 20px;
    
        color: white;
        background-color: black;
    }
    
    h1, ul, li{
        display: inline;
    }
    
    ul{
      margin-left: 30%;
    }
    
    li{
        color: rgb(217, 200, 200);
        padding-right: 5px;
    }
    
    .products{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    .box{
        flex-basis: 40%;
        height: 80%;
        width: 90%;
    }

    .box img{
        height: 75%;
        width: 100%;
    }

}

@media (min-width: 766px) and (max-width: 1020px){
    ul{
        margin-left: 40%;
    }

    .products{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    .box{
        flex-basis: 40%;
        height: 80%;
        width: 90%;
    }

    .box img{
        height: 75%;
        width: 100%;
    }

}

@media (min-width: 1021px) and (max-width: 1200px){
    
    ul{
        margin-left: 55%;
    }
      
    .products{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    .box{
        flex-basis: 28%;
        height: 380px;
        width: 80%;
    }

    .box img{
        height: 70%;
        width: 100%;
    }  

    

}